[[source]]
verify_ssl = true
name = "pypi"
url = "https://pypi.python.org/simple"

[packages]
mypy = "*"
typing = "*"
pyrsistent = "*"
scipy = "*"
networkx = "*"
cython = "*"
imgui = {editable = true, extras = ["full"], path = "./../pyimgui"}
sumtype = "*"
numpy = "*"
"1077c9c" = {path = "./../arrayplot", editable = true}
# imgui = {git = "https://github.com/lubieowoce/pyimgui"}

[requires]
python_version = "3.5"

[dev-packages]
